* {
    margin: 0 0;
    padding: 0 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.cg-game {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Game custom alert modal window */
.cg-game-alert {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.cg-game-alert-blur {
    backdrop-filter: blur(3px);
    background-color: rgba(37, 37, 37, 0.6);
}

.cg-game-alert-window {
    height: 50%;
    position: relative;
    width: 50%;
    z-index: 100;
}

.cg-game-alert-background {
    height: 100%;
    position: absolute;
    width: 100%;
}

.cg-game-alert-text {
    align-items: center;
    cursor: default;
    display: flex;
    font-size: 3vh;
    height: 60%;
    justify-content: center;
    left: 10%;
    position: relative;
    top: 10%;
    user-select: none;
    width: 80%;
}

.cg-game-alert-confirm {
    cursor: pointer;
    display: block;
    height: 10%;
    margin: 10% auto;
    position: relative;
}
